<p>formulario works!</p>
<form>
    <!-- <input type="text" class="form-control" placeholder="name" [value]="character.name">
    <input type="number" class="form-control" placeholder="power" [value]="character.power"> -->

    <!-- <input type="text" class="form-control" [(ngModel)] [name]="character.name"
    placeholder="name">
    <input type="number" class="form-control" ngModel="character" name="character.power"
    placeholder="power">
    <button type="submit">Enviar</button> -->
    <input type="text" name="name" />
</form>